<ActionBar title="Contact Us" class="action-bar">
</ActionBar>

<GridLayout class="m-5" rows="auto auto">

  <StackLayout class="p-10 border">

    <Label row="0" height="40" class="p-10 h3" text="Contact Information"></Label>

    <StackLayout row="1" class="m-t-10 m-l-20">
      <Label text="121, Clear Water Bay Road"></Label>
      <Label text="Clear Water Bay, Kowloon"></Label>
      <Label text="HONG KONG"></Label>
      <Label text="Tel: +852 1234 5678"></Label>
      <Label text="Fax: +852 8765 4321"></Label>
      <Label text="Email:confusion@food.net"></Label>
    </StackLayout>

  </StackLayout>

</GridLayout>
